header
{background-color: #7f451e;
  font-family: "copperplate", fantasy;
  font-size: 2.5em; }
aside {
  width: 30%;
  padding-left: 4px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  heighth: 35%;
  float: left;
}
footer
{background-color: #7f451e;
  font-family: "copperplate", fantasy;
  font-size: 1em;
}
